<div id="banner">
	<h1>Discover your books.</h1>
</div>

<div id="book" class="cf">
	<div class="wrapper">
		<ul>
			<a href="#">
				<li>
					<img src="#" alt="#">
					<div class="book_overview">
						<h2>Book 1</h2>
						<p class="page_count">1 page</p>
					</div>
				</li>
			</a>
		</ul>
	</div>
</div>