<div id="background">
	<header class="cf">
		<div class="wrapper_wide">
			<a href="ï¼" id="logo">USA English</a>
			<nav>
				<ul>
					<li><a href="#">Explore</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Create a Book</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="wrapper_skinny">
		<h1> Let's read and listen the story... </h1>
		<a href="#" class="button button_highlight">Create a Book</a>
		<a href="#" class="button button_white">Explore</a>				
	</div>
</div>