<div id="book_show">
	<div id="show_banner">
		<div class="wrapper_skinny">
			<h1><%= @book.title %></h1>
			<p class="description"><%= @book.description %></p>
		</div>
	</div>
</div>

<div id="breadcrumb">
	<%= link_to book_path do %>
		All Books
		<span>/</span>
		Book 1
	<% end %>
</div>

<div id="pages">
	<div class="wrapper_skinny">
		<ul class="cf">
			<li class="cf">
				<div class="page_thumbnail">
					<a href="#">
						<img src="">
					</a>
				</div>
				<div class="page_overview">
					<h2><a href="#">title</a></h2>
				</div>
			</li>
		</ul>
	</div>
</div>